body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: rgb(38, 33, 88);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.modelo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #003366;
    color: rgb(26, 25, 79);
    text-align: center;
    padding: 10px 0;
}

